<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>www.medify.com/support</title>
</head>
<body>
    <nav id="navbar">
        <img src="/static/logo.jpg" alt="logo">

        <ul>
            <li class="list"><a href="/templates/base.html">HOME</a></li>
            <!-- <li class="list"><a href="support.html">SUPPORT</a></li> -->
            <li class="list"><a href="#">ABOUT US</a></li>
            <li class="list"><a href="#">CONTACT US</a></li>
        </ul>
    </nav>


    <section id="home">

        <h1 class="h-primary">SUPPORT</h1>
        <p>YOU TOOK THE GREAT INITIATIVE TO SERVE THE SOCIETY </p>
        <br>
        <p>PLEASE FILL THE BELOW FORM AND BE THE PART OF OUR VOLUNTEER GROUP</p>
        <!-- <button class="btn">JOIN US</button> -->
        <p>CREATE YOUR ACCOUNT NOW</p>
        <button class="btn">LOGIN/REGISTER</button>

    </section>


    <section id="contact-support">
        <div id="contact-box">
            <P class="h-primary center">
                FILL THE FORM TO BE THE PART OF OUR GROUP
            </P>
            <div class="form-group">
                <label for="name">NAME:</label>
                <input type="text" name="name" id="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="name">EMAIL:</label>
                <input type="email" name="name" id="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="name">PHONE NUMBER:</label>
                <input type="phone" name="name" id="phone" placeholder="Enter your phone number">
            </div>
            <div class="form-group">
                <label for="name">AADHAAR NO:</label>
                <input type="aadhaar" name="name" id="aadhar" placeholder="Enter your aadhaar no">
            </div>
            <div class="form-group">
                <label for="name">LOCATION:</label>
                <input type="location" name="name" id="location" placeholder="Enter your location where u have situated">
            </div>
            <div class="form-group">
                <label for="name">MESSAGE:</label>
                <textarea name="message" id="message" cols="50" rows="10" placeholder="Why you wanna be the part of our group"></textarea>
            </div>
            <div>
                <button>SUBMIT NOW</button>
            </div>
        </div>

    </section>

    <footer class="center" id="footer-support">
        copyright &COPY; www.medify.com. All rights reserved!
    </footer>
</body>
</html>